-r https://github.com/hasadna/open-bus-stride-db/raw/a72583b68eaca76c7d291b52880ccd7d847b65c5/requirements.txt
-r requirements.txt
https://github.com/hasadna/open-bus-stride-db/archive/a72583b68eaca76c7d291b52880ccd7d847b65c5.zip
