-r https://github.com/hasadna/open-bus-stride-db/raw/c5852229d76cdd1bbb8276b004d6da472abca1c7/requirements.txt
-r requirements.txt
https://github.com/hasadna/open-bus-stride-db/archive/c5852229d76cdd1bbb8276b004d6da472abca1c7.zip
