-r https://github.com/hasadna/open-bus-stride-db/raw/88caa8555557d2e6366d8cab76d189a200b6b92a/requirements.txt
-r requirements.txt
https://github.com/hasadna/open-bus-stride-db/archive/88caa8555557d2e6366d8cab76d189a200b6b92a.zip
